<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar garçonete</title>
  
  <!-- Link do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  
  <!-- Ícones Bootstrap-->
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
  <!-- Datatables.net link -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/b-3.0.2/b-print-3.0.2/fh-4.0.1/kt-2.12.1/r-3.0.2/sb-1.7.1/datatables.min.css" rel="stylesheet">  

  <!-- Link CSS -->
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg primary-bg-color py-4 px-2" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">Projeto Bar Adriano & Wechiley</a>
      <div id="navbar-items">
        <div></div>
        <ul class="navbar-nav mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-person"></i>
            </a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  
  <!--Bottom Navbar-->
    <nav class="navbar navbar-expand-lg secondary-bg-color p-2" id="bottom-navbar-container">
        <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottom-navbar" aria-controls="bottom-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <ul class="navbar-nav mb-2 mb-lg-0 collapse navbar-collapse" id="bottom-navbar">
            <li class="nav-item">
            <a class="nav-link" href="../index.html">
                Página Inicial
            </a>
            </li>
                    
            <li class="nav-item">
            <a class="nav-link" href="#">
                Fale Conosco
            </a>
            </li>
        
        </ul>
        </div>
    </nav>
    <!-- FIM NAVBAR -->


    <!--Formulário de criação-->
    <div class="container">
        <div class="row justify-content-center m-4">
            <div class="col-6">
                <h1>Nova garçonete</h1>
                <form id = "formInserirGarconete" action="../paginasCard/garconetes.html">
                    <div class="mb-4">
                        <label class="mb-2" for="id">Id:</label>
                        <input class="form-control" type="text" name="Id" id="Id" disabled>
                    </div>
                                        
                    <div class="mb-4">
                        <label class="mb-2" for="matricula">Matrícula:</label>
                        <input class="form-control" type="text" name="matricula" id="matricula">
                    </div>

                    <div class="mb-4">
                        <label class="mb-2" for="nome">Nome:</label>
                        <input class="form-control" type="text" name="nome" id="nome">
                    </div>

                    <div class="mb-4">
                        <label class="mb-2" for="cpf">Cpf:</label>
                        <input class="form-control" type="text" name="cpf" id="cpf" placeholder="000.000.000-00">
                    </div>
                    
                    <div class="mb-4">
                        <label class="mb-2" for="rg">Rg:</label>
                        <input class="form-control" type="text" name="rg" id="rg">
                    </div>

                    <div class="mb-4">
                        <label class="mb-2" for="telefone">Telefone:</label>
                        <input class="form-control" type="text" name="telefone" id="telefone">
                    </div>

                    <div class="mb-4">
                        <label class="mb-2" for="dataContratacao">Data contratação:</label>
                        <input class="form-control" type="date" name="dataContratacao" id="dataContratacao">
                    </div>

                    <div class="mb-4">
                        <label for="statusTrabalho" class="form-label">Status de trabalho:</label>
                        <select class="form-select" name="statusTrabalho" id="statusTrabalho">
                            <option value="" selected>Selecione uma opção</option>
                            <option value="1">Ativo</option>
                            <option value="2">Licença-maternidade</option>
                            <option value="3">Férias</option>
                            <option value="4">Desligado</option>                        
                        </select>
                    </div>

                    <div class="mb-4">
                        <label class="mb-2" for="salario">Salário:</label>
                        <input class="form-control" type="text" name="salario" id="salario">
                    </div>
                    
                        <div class="mb-4">
                        <input class="btn btn-primary" type="submit" value="Salvar">
                    </div>
                </form>
            </div>
        </div>
    </div>    

    <!--FOOTER da página-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
    <p>Granbery &copy; 2024</p>    
    </footer>

    <!--scripts--       31.435.418/0001-55-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" 
    integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> 
    
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.8/b-3.0.2/b-print-3.0.2/fh-4.0.1/kt-2.12.1/r-3.0.2/sb-1.7.1/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> 
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script src="../js/criarGarconete.js"></script>
</body>
</html>